<app-navbar></app-navbar>
<div class="conatiner">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-info table-hover">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Friend Name</th>
                        <th scope="col">Friend Nickname</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of frdsData">
                        <td>{{i._id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.friendName}}</td>
                        <td>{{i.friendNickName}}</td>
                        <td>{{i.DescribeYourFriend}}</td>
                       
                      </tr>
                     
                    </tbody>

              </table>
        </div>
    </div>
</div>